# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
MANIFEST

# Environments
.env
venv/
