aniso8601==4.0.1
appdirs==1.4.3
attrs==19.1.0
beautifulsoup4==4.6.3
black==19.3b0
bs4==0.0.1
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
geographiclib==1.49
geopy==1.19.0
gunicorn==19.9.0
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
lxml==4.2.5
MarkupSafe==1.1.0
oauthlib==3.1.0
pre-commit==1.18.3
promise==2.2.1
PySocks==1.7.0
python-dateutil==2.7.5
python-dotenv==0.10.3
pytz==2018.7
requests==2.22.0
requests-oauthlib==1.2.0
Rx==1.6.1
six==1.11.0
toml==0.10.0
tweepy==3.7.0
typing==3.6.6
urllib3==1.25.3
Werkzeug==0.15.6
xmltodict==0.11.0
